.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 4px;
}

// Status (more green tones)
::ng-deep mat-chip.inbox     { background-color: #DCE775 !important; color: #333 !important; }
::ng-deep mat-chip.active    { background-color: #AED581 !important; color: #333 !important; }
::ng-deep mat-chip.void      { background-color: #8BC34A !important; color: #fff !important; }

// Types (yellow-greenish)
::ng-deep mat-chip.cyrillic         { background-color: #E6EE9C !important; color: #333 !important; }
::ng-deep mat-chip.typo             { background-color: #F0F4C3 !important; color: #333 !important; }
::ng-deep mat-chip.space            { background-color: #C5E1A5 !important; color: #333 !important; }
::ng-deep mat-chip.special_symbols  { background-color: #FFF59D !important; color: #333 !important; }
::ng-deep mat-chip.other            { background-color: #FFE082 !important; color: #333 !important; }

.mat-table {
  table-layout: fixed;
width: 100%;
display: table;
}


.mat-column-Select {
  word-wrap: break-word !important;
  width: 3% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-TagName {
  word-wrap: break-word !important;
  width: 16% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-Created {
  word-wrap: break-word !important;
  width: 16% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-Status {
  word-wrap: break-word !important;
  width: 15% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-UsedFromDoc {
  word-wrap: break-word !important;
  width: 25% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-ParsedFromDoc {
  word-wrap: break-word !important;
  width: 25% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-SelectFilter {
  word-wrap: break-word !important;
  width: 3% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-TagNameFilter {
  word-wrap: break-word !important;
  width: 16% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-CreatedFilter {
  word-wrap: break-word !important;
  width: 16% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-StatusFilter {
  word-wrap: break-word !important;
  width: 15% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-UsedFromDocFilter {
  word-wrap: break-word !important;
  width: 25% !important;
  word-break: break-word;
  hyphens: auto;
}

.mat-column-ParsedFromDocFilter {
  word-wrap: break-word !important;
  width: 25% !important;
  word-break: break-word;
  hyphens: auto;
}

.filters-row {
  height: 0% !important;
}

.filter {
  margin-top: 5px;
  margin-right: 5px;
  width: 90%;
}

.mat-label {
  color: black;
}

td:hover {
  cursor: pointer;
}

.filters-toolbar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 3px;
}